
<div class="container">

    <h1 class="mt-5 text-center mb-4">
        Buscá la criptomoneda que desees
    </h1>

    <div class="row input-div mb-4 mt-3 px-2 p-0 m-0 justify-content-center align-items-center">
        <div class="input-group mb-2 mt-2 px-3 input">
            <mat-icon style="color: grey;" class="p-0 m-0 align-self-center">search</mat-icon><input [(ngModel)] = "busqueda" name="busqueda" type="text" class="form-control input" placeholder="Buscar moneda...">
        </div>
    </div>
</div>


<!-- lista de monedas -->
<div class="container mt-5">
    <div class="container mb-3 mt-3">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-lg-5 col-md-8 col-12 input-div mt-3 mb-3 mx-3" *ngFor="let coin of coinList | searchFilter: busqueda">
                <div class="row justify-content-center p-3 align-items-center">
                    <div class="col-lg-4 col-md-4 col-12">
                        <img class="img-coin" src="{{coin.image}}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 mt-4">
                        <h1>{{coin.id}}</h1>
                        <h3>{{coin.symbol}}</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <h2>${{coin.current_price}} USD</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" *ngIf="(coinList | searchFilter: busqueda).length === 0">
    <div class="row text-center">
        <h3>No hay resultados</h3>
    </div>    
</div>
